In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from  matplotlib import style

In [3]:
style.use('ggplot')

In [35]:
df =pd.read_csv('County_Level_Wood_Fuel_Demand.csv')

In [36]:
df.shape

(47, 8)

In [37]:
df

,County,Total demand in kilo tonnes oven-dry (Minimum),Total demand in kilo tonnes oven-dry (Medium),Total demand in kilo tonnes oven-dry (Maximum),Conventional demand in kilo tonnes oven-dry (Minimum),Conventional demand in kilo tonnes oven-dry (Medium),Conventional demand in kilo tonnes oven-dry (Maximum),County centroid
0,BARINGO,317,340,384,314,337,379,"(0.66898646420999996, 35.946142752599997)"
1,BOMET,535,575,649,483,516,578,"(-0.82831351694800004, 35.271858072100002)"
2,BUNGOMA,820,890,1017,686,749,865,"(0.75126686655499997, 34.640064022899999)"
3,BUSIA,446,484,554,364,399,462,"(0.41492227215100003, 34.2119561811)"
4,EMBU,309,337,387,280,305,350,"(-0.59958376148699999, 37.6238616686)"
5,GARISSA,290,314,356,287,310,352,"(-0.48134973657399999, 40.165977050800002)"
6,HOMABAY,595,650,749,524,570,653,"(-0.56946160545500002, 34.442563490799998)"
7,ISIOLO,92,104,125,91,102,124,"(1.0072914034, 38.533980522699999)"
8,KAJIADO,483,562,706,471,547,686,"(-2.1155757196399998, 36.914813284700003)"
9,KAKAMEGA,1031,1098,1220,835,895,1004,"(0.40657132336099999, 34.744752807700003)"
10,ELGEYO-MARAKWET,215,232,263,211,227,257,"(0.80114179428499999, 35.5371338526)"
11,KERICHO,412,462,555,388,435,522,"(-0.36660692783799997, 35.320505217700003)"
12,KIAMBU,1469,1704,2131,1362,1580,1979,"(-1.03764135132, 36.885397192600003)"
13,KILIFI,579,640,751,568,626,734,"(-3.1528920770500002, 39.681038978799997)"
14,KIRINYAGA,414,454,529,332,365,424,"(-0.52112170583499995, 37.318103668200003)"
15,KISII,711,774,888,595,649,748,"(-0.77264612958000001, 34.774540809400001)"
16,KISUMU,814,946,1185,741,867,1098,"(-0.15539527026899999, 34.884867230399998)"
17,KITUI,600,643,723,588,631,708,"(-1.48049482203, 38.404504809400002)"
18,KWALE,311,334,376,309,332,373,"(-4.1157091981100002, 39.157570532800001)"
19,LAIKIPIA,274,313,382,264,300,365,"(0.32520574436400002, 36.770967863499997)"
20,LAMU,53,59,70,53,59,70,"(-2.0224897633399999, 40.7518057777)"
21,MACHAKOS,825,938,1145,787,897,1095,"(-1.2855095965000001, 37.406215431699998)"
22,MAKUENI,511,550,623,490,525,591,"(-2.1576129765599998, 37.8014021081)"
23,MANDERA,441,460,494,436,454,488,"(3.4085875681800002, 40.727825119899997)"
24,MARSABIT,153,162,179,145,154,170,"(2.94822553817, 37.663205895600001)"
25,MERU,770,827,933,669,717,804,"(0.17082022291599999, 37.758900229699996)"
26,MIGORI,642,720,863,590,662,792,"(-1.0082431330299999, 34.4289615036)"
27,MOMBASA,723,878,1162,723,878,1162,"(-3.9901673311999999, 39.6571798943)"
28,MURANGA,587,631,711,488,524,590,"(-0.75071832753099998, 37.005243416100001)"
29,NAIROBI,1927,2308,3003,1927,2308,3003,"(-1.28820488368, 36.867089075400003)"
30,NAKURU,1292,1524,1947,1213,1429,1822,"(-0.45473359596500001, 36.074509539799998)"
31,NANDI,462,497,562,428,458,512,"(0.183553941863, 35.115902944200002)"
32,NAROK,505,551,635,476,517,592,"(-1.25266346583, 35.576444011699998)"
33,NYAMIRA,359,389,443,303,327,373,"(-0.63997900860400003, 34.964085961000002)"
34,NYANDARUA,500,554,654,437,483,566,"(-0.31988196486199999, 36.482593560600002)"
35,NYERI,558,619,729,494,546,641,"(-0.33949323125899999, 36.9555240603)"
36,SAMBURU,109,118,134,109,118,133,"(1.31725283579, 37.118083540599997)"
37,SIAYA,505,549,631,424,460,527,"(-0.0019945659514800001, 34.287268772300003)"
38,TAITA-TAVETA,153,171,205,151,169,203,"(-3.4172467468100001, 38.4224030763)"
39,TANA-RIVER,120,130,150,120,130,149,"(-1.54982809376, 39.412445027099999)"
40,THARAKA-NITHI,232,251,285,221,238,269,"(-0.20004562772500001, 37.870111062600003)"
41,TRANS-NZOIA,524,584,693,449,502,598,"(1.0533471639800001, 34.956981643799999)"
42,TURKANA,398,419,459,382,402,441,"(3.4144681943099999, 35.418059571500002)"
43,UASIN-GISHU,659,763,952,590,687,864,"(0.52887650030199995, 35.318746769199997)"
44,VIHIGA,323,346,389,277,299,338,"(0.078572848214500002, 34.7214832513)"
45,WAJIR,273,281,298,265,274,291,"(1.7974581461900001, 40.022505669399997)"
46,WEST POKOT,232,242,259,230,239,256,"(1.71604644911, 35.246918460099998)"

In [33]:
df.shape

(47, 8)

In [39]:
df.columns

Index([u'County', u' Total demand in kilo tonnes oven-dry (Minimum)',
       u'Total demand in kilo tonnes oven-dry (Medium)',
       u'Total demand in kilo tonnes oven-dry (Maximum)',
       u'Conventional demand in kilo tonnes oven-dry (Minimum)',
       u' Conventional demand in kilo tonnes oven-dry (Medium)',
       u'Conventional demand in kilo tonnes oven-dry (Maximum)',
       u'County centroid '],
      dtype='object')

In [41]:
df[[u'County', u' Total demand in kilo tonnes oven-dry (Minimum)',
       u'Total demand in kilo tonnes oven-dry (Medium)',
       u'Total demand in kilo tonnes oven-dry (Maximum)',]]

,County,Total demand in kilo tonnes oven-dry (Minimum),Total demand in kilo tonnes oven-dry (Medium),Total demand in kilo tonnes oven-dry (Maximum)
0,BARINGO,317,340,384
1,BOMET,535,575,649
2,BUNGOMA,820,890,1017
3,BUSIA,446,484,554
4,EMBU,309,337,387
5,GARISSA,290,314,356
6,HOMABAY,595,650,749
7,ISIOLO,92,104,125
8,KAJIADO,483,562,706
9,KAKAMEGA,1031,1098,1220
10,ELGEYO-MARAKWET,215,232,263
11,KERICHO,412,462,555
12,KIAMBU,1469,1704,2131
13,KILIFI,579,640,751
14,KIRINYAGA,414,454,529
15,KISII,711,774,888
16,KISUMU,814,946,1185
17,KITUI,600,643,723
18,KWALE,311,334,376
19,LAIKIPIA,274,313,382
20,LAMU,53,59,70
21,MACHAKOS,825,938,1145
22,MAKUENI,511,550,623
23,MANDERA,441,460,494
24,MARSABIT,153,162,179
25,MERU,770,827,933
26,MIGORI,642,720,863
27,MOMBASA,723,878,1162
28,MURANGA,587,631,711
29,NAIROBI,1927,2308,3003
30,NAKURU,1292,1524,1947
31,NANDI,462,497,562
32,NAROK,505,551,635
33,NYAMIRA,359,389,443
34,NYANDARUA,500,554,654
35,NYERI,558,619,729
36,SAMBURU,109,118,134
37,SIAYA,505,549,631
38,TAITA-TAVETA,153,171,205
39,TANA-RIVER,120,130,150
40,THARAKA-NITHI,232,251,285
41,TRANS-NZOIA,524,584,693
42,TURKANA,398,419,459
43,UASIN-GISHU,659,763,952
44,VIHIGA,323,346,389
45,WAJIR,273,281,298
46,WEST POKOT,232,242,259